.submit-btn{
  color: #fff;
  background-color: #000;
  width: 160px;
  line-height: 36px;
  font-size: 1.2rem;
  display: block;
  text-align: center;
  font-weight: bold;
  margin: 40px auto 0;
}
.submit-btn:hover{
  opacity: .8;
  transition: .3s;
}