.u-about-bg {
  background-image: url(../images/about-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 110px 0 110px 50px;
  @include mq(md) {
    padding: 50px 4vw;
  }
}

.u-about-content {
  max-width: 590px;
  padding: 50px 30px;
  box-sizing: border-box;
  background-color:rgba(255,255,255,.95);
  @include mq(md) {
    margin: 0 auto;
  }
}